---
# generic fallback item page layout 
# displays image or icon depending on "image_thumb"
layout: item/item-page-base
---

<div class="card mb-4 text-center">
    <div class="card-body">
        
        <p>
            {% include item/item-thumb.html %}
        </p>
        <div class="mt-2">

            {% include item/download-buttons.html %}
{% if page.embed_url %}
  <h2>Manuscript Viewer</h2>
  <div style="width: 100%; height: 600px;">
    <iframe 
      src="{{ page.embed_url }}" 
      frameborder="0" 
      sandbox="allow-scripts allow-popups allow-same-origin" 
      allowfullscreen></iframe>
  </div>
{% endif %}
        </div>

    </div>
</div>
